<div class="container">
  <input
    type="text"
    [(ngModel)]="keyword"
    (keyup)="doSearch($event)"
  >
  <i
    class="fa fa-search fa-2x"
    (click)="doSearch($event)"
    id="searchBtn"
  ></i>
  <select
    class="language-select"
    [(ngModel)]="language"
    (change)="changeLanguage()"
    >
    <option value="1">Ru</option>
    <option value="2">En</option>
  </select>
</div>
