@import '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
.container {
  text-align: center;
}
input {
  font-size: 36px;
  padding: 3px;
}
i {
  margin-left: -42px;
  cursor: pointer
}

.language-select {
  position: absolute;
  top: 20px; right: 20px;
}

@media screen and (max-width: 600px) {

  input {
    width: 80%;
    padding: 10px;
    margin: 10px 10px 10px -10px;
    font-size: 24px
  }
  i {
    margin-left: -56px
  }
}
