ul {
  max-width: 400px;
  text-align: center;
  margin: 10px auto 20px;
  padding: 5px;
  border-bottom: #CCC 1px dotted;
}
li {
  list-style: none;
}
.advert-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
