<ul *ngFor="let item of serpService.serpItems; index as i;">
  <li>{{ i }}</li>
  <li>{{ item.sound_name | DecodePipe}}</li>
  <li>{{ item.sound_name_en }}</li>
  <li><img [src]="'//soound.ru/'+item.img_url"></li>
  <li><a [href]="item.sound_url">{{ item.sound_url }}</a></li>
</ul>
<div class="advert-bottom">
  {{ advert }}
</div>
